#Ignore env containing secrets
.env
#Ignore Virtual Env
env/
#Ignore generated outputs
outputs
output
output/**
temp
temp/**
#Ignore pycache
**/__pycache__/
config/config.private.json
# Allow our test directory but ignore test outputs
!tests/
!tests/**
**/test_output**